<mat-dialog-content>
  <mat-select placeholder="Choose a block type" (selectionChange)="onSelect($event.value)">
    <mat-option [value]="Blocks.Type.Technique">Technique</mat-option>
    <mat-option [value]="Blocks.Type.LearnSong">Learn a song</mat-option>
  </mat-select>
  <mat-divider></mat-divider>
  <app-block-technique-form *ngIf="type === Blocks.Type.Technique" [form]="form"></app-block-technique-form>
  <app-block-learn-song-form *ngIf="type === Blocks.Type.LearnSong" [form]="form"></app-block-learn-song-form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button color="warn" (click)="onCancel()">Cancel</button>
  <button mat-raised-button color="primary" [disabled]="!form || form?.invalid" (click)="onSubmit()">Add</button>
</mat-dialog-actions>