<mat-card>
    <mat-card-title>
        <b>{{phase.data.title}}</b> - {{phase.data.minutes}}'
        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="onDelete()">
                <mat-icon>remove_circle_outline</mat-icon>
                <span>Delete</span>
            </button>
        </mat-menu>
    </mat-card-title>
    <mat-card-content>
        <app-block *ngFor="let block of phase.blocks$ | async" [block]="block"></app-block>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button (click)="add()">Add a block</button>
    </mat-card-actions>
</mat-card>