<div class="main">
  <mat-icon class="icon" *ngIf="block.data.type === Blocks.Type.LearnSong">music_note</mat-icon>
  <mat-icon class="icon" *ngIf="block.data.type === Blocks.Type.Technique">gesture</mat-icon>
  <p *ngIf="block.data.type === Blocks.Type.LearnSong">Learn <b>{{block.data.title}}</b> by <b>{{block.data.artist}}</b></p>
  <p *ngIf="block.data.type === Blocks.Type.Technique">Practice <b>'{{block.data.description}}'</b> at {{block.data.bpm}} BPM</p>
  <span flex></span>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
</div>
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="onEdit()">
    <mat-icon>edit</mat-icon>
    <span>Edit</span>
  </button>
  <button mat-menu-item (click)="onDelete()">
      <mat-icon>delete</mat-icon>
      <span>Delete</span>
  </button>
</mat-menu>